/* Background Logo */
.ky-classic-ocean-front clevertar-chat .ky-content {
    background-image: url(https://rmackinnon001.github.io/CompanyAvatarStylesheets/HouseOfSolace/Media/SolaceLogo.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}