/* Backgrounds */
clevertar-chat .ky-content {
    background-color: #f5f5f5 !important;
}

@media (min-width:501px) {
    /* Avatar Placement */
    #renderCanvas {
        right: 20px;
    }

    clevertar-chat .ky-chat-history {
        background: url('https://rmackinnon001.github.io/CompanyAvatarStylesheets/Corstrata/Media/CorstrataLogo.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
}

/* Loading Tabs */
clevertar-chat .ky-loading {
    background: #1ba5c0d1 !important;
    color: #ffffff !important;
}
clevertar-chat .ky-chat-history .ky-agent-mode.ky-agent-mode-loading {
    background: #1ba5c0 !important;
}

/* Wrapper */
clevertar-chat .ky-wrapper {
    border-color: #1ba5c0 !important;
}

/* Header */
clevertar-chat .ky-header {
    background: #1ba5c0 !important;
}

/* Header Buttons */
clevertar-chat .ky-header button {
    background: #f5f5f5 !important;
    color: #5a595e !important;
    border-color: #5a595e !important;
}

/* Mute Button */
clevertar-chat .ky-mute>button {
    background: #1ba5c0 !important;
    border-color: #5a595e !important;
}

/* Agent Response History */
clevertar-chat .ky-bubble-block .ky-name {
    display: none !important;
}

clevertar-chat .ky-bubble-block.ky-agent .ky-msg {
    background: #ffffffd1 !important;
    border-color: #5a595e !important;
}

/* User Response History */
clevertar-chat .ky-bubble-block.ky-user .ky-msg {
    background-color: #f18520d1 !important;
    border-color: #5a595e !important;
}

clevertar-chat .ky-bubble-block.ky-agent .ky-msg:before, clevertar-chat .ky-bubble-block.ky-agent .ky-msg:after, clevertar-chat .ky-bubble-block.ky-user .ky-msg:before, clevertar-chat .ky-bubble-block.ky-user .ky-msg:after {
    border-color: #5a595e transparent transparent #5a595e !important;
}

/* Response Buttons */
clevertar-chat .ky-chat-response button {
    color: #5a595e !important;
    border-color: #1ba5c0 !important;
    box-shadow: 0 0 0 1px #1ba5c0 !important;
}

clevertar-chat .ky-chat-response button:hover {
    background-color: #f18520 !important;
    color: #fff !important;
}