clevertar-chat .ky-content {
    background-color: #f5f5f5 !important;
}

@media (min-width:501px) {
    clevertar-chat .ky-chat-history {
        background: url('https://rmackinnon001.github.io/CompanyAvatarStylesheets/Corstrata/Media/CorstrataLogo.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
}

/* https://i.imgur.com/vCR5Nd8.jpg 
*/

clevertar-chat .ky-bubble-block.ky-agent .ky-msg {
    background: #ffffffd1 !important;
}

clevertar-chat .ky-bubble-block.ky-user .ky-msg {
    background-color: #f18520d1 !important;
}

clevertar-chat .ky-bubble-block.ky-user .ky-msg:before {
    border-color: #f18520 transparent transparent #f18520 !important;
}

clevertar-chat .ky-chat-response button {
    color: #5a595e !important;
}

clevertar-chat .ky-chat-response button:hover {
    border-color: #f18520 !important;
    color: #fff;
}