/* Background Logo */
.ky-classic-simplicity clevertar-chat .ky-content {
    background-color: white !important;
    background-image: url(https://rmackinnon001.github.io/CompanyAvatarStylesheets/Indigo/media/indigoLogo1.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

/* Avatar dialog reply history */
.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-agent .ky-msg, .ky-classic-soft-tones clevertar-chat .ky-bubble-block.ky-agent .ky-msg {
    background: #ffffffd1 !important;
}

/* Customer dialog reply history */
.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg {
    background-color: #F3C430d1 !important;
    color: black !important;
    border-color: #F3C430 !important;
}

.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg:after {
    border-top-color: #F3C430 !important;
    border-left-color: #F3C430 !important;
}

.ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg:after, .ky-classic-simplicity clevertar-chat .ky-bubble-block.ky-user .ky-msg:before {
    border-top-color: #F3C430 !important;
    border-left-color: #F3C430 !important;
}

/* Dialog reply hover */
.ky-classic-simplicity clevertar-chat .ky-chat-response button:hover {
    background-color: rgba(243, 198, 48, 0.233) !important;
}

/* Mute button  */
.ky-classic-simplicity clevertar-chat .ky-mute>button {
    color: #241571 !important;
}

/* Restart button */
.ky-classic-simplicity clevertar-chat .ky-header button.ky-restart {
    color: #241571 !important;
}

/* Close button */
.ky-classic-simplicity clevertar-chat .ky-header button.ky-close {
    color: #241571 !important;
}