@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* Background Logo */
@media (min-width:517px) {
    clevertar-chat .ky-wrapper .ky-content .ky-chat-wrapper .ky-chat-history {
        background: url('https://rmackinnon001.github.io/CompanyAvatarStylesheets/SoulFire/Media/SoulFireLogo.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
}

.ky-classic-purpley clevertar-chat .ky-bubble-block.ky-agent .ky-msg {
    background: #ffffff94 !important;
    border-color: #ffffff94 !important;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
}

.ky-classic-purpley clevertar-chat .ky-chat-response {
    background-color: #ffffff85 !important;
}

clevertar-chat .ky-chat-response button {
    background: #ffffff6e !important;
}